@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");

body {
  font-family: "timenew", sans-serif;
}

.hero {
  background: #bcc9e9;
  font-family: "timenew", sans-serif;
}

.projects-heading {
  font-family: "Wallpoet", sans-serif;
  color: #a1b3dd;
  font-size: 2rem;
  margin-top: 20px;
}

.container {
  margin-top: 10px;
  font-family: "ariel";
}

.card {
  background-color: #bcc9e9;
}

.card-title {
  color: rgb(36, 34, 34);
}

.card-text {
  height: 100px;
  size: 1.2rem;
}

.card-img-top {
  height: 200px;
  width: auto;
}

.card-body > a {
  margin-top: 50px;
}
p {
  color: rgb(0, 6, 8);
}
