body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    transition: all 0.3s ease-in-out;
    background: #2cb1dd7d;
}

.hero-image {
    width: 100%;
    height: 100%;
    z-index: -1;
}

